<div class="container mt-5 ">
  <div class="row">
    <% rests.each do |rest| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mt-5 d-flex justify-content-around">
          <%= link_to rest_path(rest),class:"mx-auto" do %>
            <%= image_tag rest.get_rest_image, style: "obfect-fit: contain; height: 250px;  width: 250px;", class: 'img-fluid' %>
          <% end %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">住所：<%= rest.address.truncate(18, omission: "...") %></li>
            <li class="list-group-item">移動方法：<%= rest.move_method_i18n %></li>
            <li class="list-group-item">喫煙不可：<%= rest.smoking_area_i18n %></li>
            <li class="list-group-item">トイレ有無：<%= rest.toilet_i18n %></li>
            <li class="list-group-item">
              <div class="d-inline" id="favorite_buttons_<%= rest.id %>" >
              <% if customer_signed_in? %>
                <%= render "public/favorites/favorites", rest: rest %>
              <% end %>
              </div>
                <div class="mr-1 d-inline"><%= rest.rest_comments.count %>コメント</div>
                <%= link_to "詳細", rest_path(rest), class:"btn btn-sm btn-primary ml-2" %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
   <div class="row">
     <div class="col-md-4 offset-md-4 py-2 mt-5">
       <%= paginate rests, theme: 'bootstrap-5' %>
     </div>
   </div>
 </div>