<table class="table table-hover">
  <thead>
    <tr>
      <th>名前</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @customers.exists? %>
    <% @customers.each do |customer| %>
    <tr>
      <td>
        <%= link_to customer_path(customer) do %>
        <% if customer.profile_image.attached? %>
          <%= image_tag customer.profile_image, style: "obfect-fit: contain; height: 40px;  width: 40px;", class: 'img-fluid rounded-circle' %>
        <% else %>
          <%= image_tag 'no_image_user.jpg', style: "obfect-fit: contain; height: 40px;  width: 40px;", class: 'img-fluid rounded-circle' %>
        <% end %>
          <%= customer.name %>
        <% end %>
      </td>
      <td>フォロー数: <%= customer.followings.count %></td>
      <td>フォロワー数: <%= customer.followers.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  <% else %>
    <tr>
      <td>ユーザーはいません</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
  <% end %>
