<div class="container my-5">
  <div class="row">
    <h2>検索結果</h2>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>投稿者名</th>
            <th>画像</th>
            <th style="width: 11%">住所</th>
            <th style="width: 10%"><%= sort_link(@search, :move_method, "移動方法", hide_indicator: true) %></th>
            <th><%= sort_link(@search, :smoking_area, "喫煙不可", hide_indicator: true) %></th>
            <th style="width: 10%"><%= sort_link(@search, :toilet, "トイレ有無", hide_indicator: true) %></th>
            <th>タグ</th>
            <th style="width: 7%">閲覧数</th>
            <th>いいね</th>
            <th colspan=1></th>
          </tr>
        </thead>
        <tbody>
          <% rests.each do |rest| %>
          <tr>
            <td>
              <%= link_to customer_path(rest.customer) do %>
                <%= image_tag rest.customer.get_profile_image, style: "obfect-fit: contain; height: 40px;  width: 40px;", class: 'img-fluid rounded-circle' %>
                <%= rest.customer.name %>
              <% end %>
            </td>
            <td>
              <%= link_to rest_path(rest) do %>
                <%= image_tag rest.get_rest_image, style: "obfect-fit: contain; height: 100px;  width: 100px;", class: 'img-fluid' %>
              <% end %>
            </td>
            <td>
              <%= link_to rest_path(rest) do %>
                <%= rest.address %>
              <% end %>
            </td>
            <td><%= rest.move_method_i18n %></td>
            <td><%= rest.smoking_area_i18n %></td>
            <td><%= rest.toilet_i18n %></td>
            <td><%= link_to rest.category, search_rest_path(keyword: rest.category) %></td>
            <td><%= rest.view_counts.count %></td>
            <td>
              <div class="d-inline" id="favorite_buttons_<%= rest.id %>" >
              <% if customer_signed_in? %>
                <%= render "public/favorites/favorites", rest: rest %>
              <% else %>
                💗<%= rest.favorites.count %>
              <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 py-2 mt-5">
      <%= paginate rests, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>