
<div class="row mt-3 flex-column align-items-center pull-left">
<%= form_with model:rest,local:true do |f| %>
  <div class="form-group">
    <%= f.label :画像, class: "col-sm-6" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="form-group">
    <%= f.label :説明, class: "col-sm-5" %>
    <%= f.text_area :describe, class: "col-lg-12 form-control rest_describe" %>
  </div>
  <div class="form-group">
    <%= f.label :住所, class: "col-sm-5" %>
    <%= f.text_area :address, class:"col-lg-12 form-control rest_address", id:"gmap", placeholder:"Google Mapの住所をコピーして貼り付けてください" %>
  </div>
  <div class="form-group">
    <%= f.label :タグ, class: "col-sm-5" %>
    <%= f.text_field :category, class: "col-lg-12 form-control rest_describe" %>
  </div>
  <div class="form-group">
    <%= f.label :移動手段, class: "mt-3 col-sm-6" %>
    <%= f.select :move_method, Rest.move_methods_i18n.invert, class: "rest_move_method col-sm-6" %>
  </div>
  <div class="form-group">
    <%= f.label :トイレ, class: "col-sm-5" %>
    <%= f.select :toilet, Rest.toilets_i18n.invert, class: "rest_toilet" %>
  </div>
  <div class="form-group">
    <%= f.label :喫煙不可, class: "col-sm-5" %>
    <%= f.select :smoking_area, Rest.smoking_areas_i18n.invert, class: "rest_move_method" %>
  </div>
  <div class="form-group">
    <%= f.submit "投稿", class: "btn btn-success d-inline" %>
    <% unless controller.controller_name == 'homes' && controller.action_name == 'top' %>
      <%= link_to "戻る", rest_path(@rest), class:"btn btn-info ml-3" %>
    <% end %>
  </div>
</div>
<% end %>