
<%= form_with model:rest,local:true do |f| %>
  <div class="form-group">
    <%= f.label :画像 %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="form-group">
    <%= f.label :"説明" %>
    <%= f.text_area :describe, class: "form-control rest_describe" %>
  </div>
  <div class="form-group">
    <%= f.label :"移動手段" %>
    <%= f.select :move_method, Rest.move_methods_i18n.invert, class: "rest_move_method" %>
  </div>
  <div class="form-group">

    <%= f.label :"トイレ" %>
    <%= f.select :toilet, Rest.toilets_i18n.invert, class: "rest_toilet" %>
  </div>
  <div class="form-group">
    <%= f.label :"喫煙不可" %>
    <%= f.select :smoking_area, Rest.smoking_areas_i18n.invert, class: "rest_move_method" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
  </div>

  <% end %>