
<h3 class="text-center mt-3">投稿詳細ページ</h3>
<div class="container mt-3">
  <div class="row">
    <div class="col-lg-6 col-md-6-col-12 text-right">
      <%= render "public/homes/map" %>
    <div id="rest_comments_error">
      <%= render "layouts/errors", object: @rest_comment %>
    </div>
    </div>
    
    <div class="col-lg-6 col-md-6-col-12">
      <div class="card mx-auto" style="width: 31rem;">
          <%= image_tag @rest.get_rest_image, style: "obfect-fit: contain; height: 300px;  width: 500px;", class: 'img-fluid mx-auto' %>
          <div class="card-body">
            <h5 class="card-title">説明</h5>
            <p class="card-text"><%= @rest.describe %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">投稿者：<%= link_to @rest.customer.name, customer_path(@rest.customer) %></li>
            <li class="list-group-item">住所：<%= @rest.address %></li>
            <li class="list-group-item">移動方法：<%= @rest.move_method_i18n %></li>
            <li class="list-group-item">喫煙不可：<%= @rest.smoking_area_i18n %></li>
            <li class="list-group-item">トイレ有無：<%= @rest.toilet_i18n %></li>
          </ul>
          <div class="card-body">
            <div class="d-inline">投稿日：<%= @rest.created_at.strftime('%Y/%m/%d') %></div>
            <div id="favorite_buttons_<%= @rest.id %>" class="d-inline" >
              <% if customer_signed_in? %>
                <%= render "public/favorites/favorites", rest: @rest %>
              <% end %>
            </div>
              <div class="d-inline ml-3 mr-2">閲覧数：<%= @rest.view_counts.count %></div>
              <div class="d-inline">タグ：<%= link_to @rest.category, search_rest_path(keyword: @rest.category) %></div>
            <div>
              <% if @rest.customer == current_customer %>
                <%= link_to "編集する", edit_rest_path(@rest), class:"btn btn-primary mt-1" %>
                <%= link_to "マイページ", customer_path(current_customer), class:"btn btn-info ml-2 mt-1" %>
                <%= link_to "削除", rest_path(@rest), method: :delete, data: { confirm: '本当に消しますか？' }, class:"btn btn-danger ml-2 mt-1" %><br>
              <% end %>
              <div id="star-average-<%= @rest.id %>" class="d-inline mt-1"></div>
                <script>
                  $("#star-average-<%= @rest.id %>").empty();
                  $("#star-average-<%= @rest.id %>").raty({
                  size      : 36,
                  starOff   : '<%= asset_path('star-off.png') %>',
                  starOn    : '<%= asset_path('star-on.png') %>',
                  starHalf  : "<%= asset_path('star-half.png') %>",
                  half      : false,
                  readOnly: true,
                  score: <%= @rest.rest_comments.average(:star).to_f.round(1) %>,
                });
                </script>
                <span>(<%= @rest.rest_comments.count %>件)</span>
            </div>
          </div>
      </div>

      <% if customer_signed_in? %>
      <div class="mt-3 mx-auto" style="width: 31rem;">
          <%= form_with model: [@rest, @rest_comment] do |f| %>
          <%= f.text_area :comment, rows: '4', placeholder: "コメントをここに", class:"form-control" %>
          <%= f.submit "送信する", class:"btn btn-success mt-2" %>
          <div class="relative-comment-rate d-inline">
              <%= f.label :star,  "評価 ",id: "e" %>
            <div id="star-rate" class="d-inline">
              <%= f.hidden_field :star, id: :rate_star %>
            </div>
              <script>
                $('#star-rate').empty();
                $('#star-rate').raty({
                  size: 36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  scoreName: 'rest_comment[star]',
                  half: false,
                });
              </script>
              <%= @rest_comment.star %>
          </div>
          <% end %>
      <% end %>
      
      
        <% if @rest.rest_comments.present? %>
        <div class="mt-3 mx-auto" style="width: 31rem;">
          <div>コメント一覧</div>
          <% @rest.rest_comments.each do |rest_comment| %>
          <div class="notice_box">
            <%= rest_comment.created_at.strftime('%Y/%m/%d') %>
            [<%= rest_comment.customer.name %>]<br>
            <div  id="star-rate<%= rest_comment.id%>"></div>
            <script>
              $('#star-rate<%= rest_comment.id%>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                half      : false,
                readOnly: true,
                score: <%= rest_comment.star %>,
              });
            </script>
            <%= rest_comment.comment %><br>
            <% if rest_comment.customer == current_customer %>
              <%= link_to "削除", rest_rest_comment_path(rest_comment.rest, rest_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class:"btn btn-danger btn-sm mb-2 mt-2" %>
            <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
