<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white" style="line-height:2rem">知っている休憩場所を共有しよう！<br>
          初めて行く場所でちょっと疲れた・・・・そんなことないですか？<br>
          このサイトを使えば他の利用者が知っている休憩場所を利用できます。<br>
          利用方法は簡単！休憩場所を探す場合は住所検索欄から検索するだけ！<br>
          投稿はログインをして必要な情報を入力すれば、勝手に地図付きで投稿できます。<br>
          </p>
        </div>
        <% if customer_signed_in? %>
        <div class="col-sm-4 py-4">
          <h4 class="text-white">メニュー</h4>
          <ul class="list-unstyled">
            <li><%= link_to root_path, class: "nav-link text-white" do %>
              <i class="fas fa-eject"></i>HOME
            <% end %>
            </li>
            <li><%= link_to rests_favorites_path, class: "nav-link text-white" do %>
              <i class="fas fa-heart"></i>お気に入り一覧
            <% end %>
            </li>
            <li>
              <%=  link_to notices_path,class: 'nav-link text-light' do %>
              <% if unchecked_notices.any? %>
                <i class="far fa-bell" style="color: tomato;"></i>通知
              <% else %>
                <i class="fas fa-check" style="color: white;"></i>通知
              <% end %>
              <% end %>
            </li>
            <li><%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-white" do %>
              <i class="fas fa-door-closed"></i>ログアウト
            <% end %>
            </li>
            <li><%= link_to withdrawal_confirm_path(current_customer), class: "nav-link text-white" do %>
              <i class="fas fa-user-slash"></i>退会する
            <% end %>
            </li>
          </ul>
        </div>
        <% else %>
        <div class="col-sm-4 py-4">
          <h4 class="text-white">メニュー</h4>
          <ul class="list-unstyled">
            <li><%= link_to root_path, class: "nav-link text-white" do %>
              <i class="fas fa-eject"></i>HOME
            <% end %>
            </li>
            <li>
              <%= link_to customers_guest_sign_in_path, method: :post, class: "nav-link text-white" do %>
                <i class="fas fa-user-alt"></i>ゲストログイン
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_session_path, class: "nav-link text-white" do %>
                <i class="fas fa-door-open"></i>ログイン
              <% end %>
            </li>
             <li>
              <%= link_to new_customer_registration_path, class: "nav-link text-white" do %>
                <i class="fas fa-user-plus"></i>新規登録
              <% end %>
            </li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">

      <strong><%= link_to "ぐ～たライフ", root_path, class:"nav-link text-white" %></strong>
   <% if customer_signed_in? %>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <%= link_to customer_path(current_customer), class: "nav-link text-white" do %>
          <%= current_customer.name %>さん
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <% else %>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
   <% end %>
  </div>
     <div class="form-group my-lg-0 form-inline search-wrapper">
        <%= search_form_for @search, url: search_path do |f| %>
        <div class="select-box-wrapper">
          <div class="select-box">
            <%= f.label :move_method, '移動方法', class: 'label d-inline' %>
            <%= f.select :move_method_eq, options_for_select({"徒歩": 0, "バイク": 1, "車": 2, "大型車": 3}), include_blank: '指定なし', class: "search-select" %>
          </div>
          <div class="select-box">
            <%= f.label :smoking_area, '喫煙', class: 'label d-inline' %>
            <%= f.select :smoking_area_eq, options_for_select({"可": 1, "不可": 2}), include_blank: '指定なし', class: 'search-select' %>
          </div>
          <div class="select-box">
            <%= f.label :toilet, 'トイレ', class: 'label d-inline' %>
            <%= f.select :toilet_eq, options_for_select({"有り": 1, "無し": 2}), include_blank: '指定なし', class: 'search-select' %>
          </div>
          </div>
            <%= f.search_field :address_or_category_or_customer_name_cont, required: true, placeholder: '検索ワード', class:"form-control mr-sm-2 search-field mr-1" %>
            <%#= f.search_field :address_or_category_or_customer_name_cont, placeholder: '検索ワード', class:"form-control mr-sm-2 search-field mr-1" %>
            <%= f.submit "検索", class:"btn btn-success search" %>
            <% end %>
     </div>