<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white" style="line-height:2rem">知っている休憩場所を共有しよう！<br>
          初めて行く場所でちょっと疲れた・・・・そんなことないですか？<br>
          このサイトを使えば他の利用者が知っている休憩場所を利用できます。<br>
          利用方法は簡単！休憩場所を探す場合は住所検索欄から検索するだけ！<br>
          投稿はログインをして必要な情報を入力すれば、勝手に地図付きで投稿できます。<br>
          </p>
        </div>
        <% if customer_signed_in? %>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">メニュー</h4>
          <ul class="list-unstyled">
            <li><%= link_to root_path, class: "nav-link text-white" do %>
              <i class="fas fa-eject"></i>HOME
            <% end %>
            </li>
            <li><%= link_to rests_favorites_path, class: "nav-link text-white" do %>
              <i class="fas fa-heart"></i>お気に入り一覧
            <% end %>
            </li>
            <li><%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-white" do %>
              <i class="fas fa-door-closed"></i>ログアウト
            <% end %>
            </li>
            <li><%= link_to withdrawal_confirm_path(current_customer), class: "nav-link text-white" do %>
              <i class="fas fa-user-slash"></i>退会する
            <% end %>
            </li>
          </ul>
        </div>
        <% else %>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">メニュー</h4>
          <ul class="list-unstyled">
            <li><%= link_to root_path, class: "nav-link text-white" do %>
              <i class="fas fa-eject"></i>HOME
            <% end %>
            </li>
            <li>
              <%= link_to customers_guest_sign_in_path, method: :post, class: "nav-link text-white" do %>
                <i class="fas fa-user-alt"></i>ゲストログイン
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_session_path, class: "nav-link text-white" do %>
                <i class="fas fa-door-open"></i>ログイン
              <% end %>
            </li>
             <li>
              <%= link_to new_customer_registration_path, class: "nav-link text-white" do %>
                <i class="fas fa-user-plus"></i>新規登録
              <% end %>
            </li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <strong><%= link_to "ぐ～たライフ", root_path, class:"nav-link text-white" %></strong>

        <%= search_form_for @search, url: search_path do |f| %>
        <div class="form-group my-2 my-lg-0 d-inline form-inline">
        <%= f.label :move_method, '移動方法', class: 'label text-white d-inline' %>
        <%= f.select :move_method_eq, options_for_select({"徒歩": 0, "バイク": 1, "車": 2, "大型車": 3}), include_blank: '指定なし', class: "search-select" %>
        <%= f.label :smoking_area_eq, '喫煙', class: 'label text-white d-inline' %>
        <%= f.select :smoking_area_eq, options_for_select({"可": 1, "不可": 2}), include_blank: '指定なし', class: 'search-select' %>
        <%= f.label :toilet_eq, 'トイレ', class: 'label text-white d-inline' %>
        <%= f.select :toilet_eq, options_for_select({"無し": 1, "有る": 2}), include_blank: '指定なし', class: 'search-select' %>
        <%= f.search_field :address_or_category_or_customer_name_cont, class:"form-control mr-sm-2" %>
        <%= f.submit "検索", class:"btn btn-outline-success" %>
      </div>
    </div>
        <% end %>
   <% if customer_signed_in? %>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <%= link_to customer_path(current_customer), class: "nav-link text-white" do %>
          <%= current_customer.name %>さん
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <% else %>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>
    <% end %>