<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">自分が知っている休憩場所を共有しよう！<br>
          そして色々な人のおすすめ休憩場所を活用してみよう！
          </p>
        </div>
        <% if customer_signed_in? %>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">メニュー</h4>
          <ul class="list-unstyled">
            <li><%= link_to "お気に入り", destroy_customer_session_path, class: "nav-link text-white" %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-white" %></li>
            <li><%= link_to "退会する", withdraw_confirm_path(current_customer), class: "nav-link text-white" %></li>
          </ul>
        </div>
        <% else %>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">メニュー</h4>
          <ul class="list-unstyled">
            <li><%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-white" %></li>
            <li><%= link_to "HOME", root_path, class: "nav-link text-white" %></li>
            <li><%= link_to "ログイン", new_customer_session_path, class: "nav-link text-white" %></li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <%= link_to "ぐ～たライフ", root_path, class: "nav-link text-white" %>
    </div>
     <% if customer_signed_in? %>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <%= link_to customer_path(current_customer), class: "nav-link text-white" do %>
          <%= current_customer.name %>さん
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <% else %>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>
    <% end %>