<%= form_with model: [rest, rest_comment] do |f| %>
  <%= f.text_area :comment, rows: '4', placeholder: "コメントをここに", class:"form-control" %>
  <%= f.submit "送信する", class:"btn btn-success mt-2" %>
<div class="relative-comment-rate d-inline">
        <%= f.label :star,  "評価 ",id: "e" %>
  <div id="star-rate" class="d-inline">
    <%= f.hidden_field :star, id: :rate_star %>
  </div>
  <script>
    $('#star-rate').empty();
    $('#star-rate').raty({
      size: 36,
      starOff: "<%= asset_path('star-off.png') %>",
      starOn: "<%= asset_path('star-on.png') %>",
      scoreName: 'rest_comment[star]',
      half: false,
    });
  </script>
  <%= rest_comment.star %>
</div>
<% end %>