 <div>コメント一覧</div>
    <% @rest.rest_comments.each do |rest_comment| %>
      <br><%= rest_comment.created_at.strftime('%Y/%m/%d') %>
      [<%= rest_comment.customer.name %>]<br>
      <div  id="star-rate<%= rest_comment.id%>"></div>    
      <script>
        $('#star-rate<%= rest_comment.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          half      : false,
          readOnly: true,
          score: <%= rest_comment.star %>,
        });
      </script>
      <%= rest_comment.comment %><br>
      <% if rest_comment.customer == current_customer %>
        <%= link_to "削除", rest_rest_comment_path(rest_comment.rest, rest_comment), method: :delete, class:"btn btn-danger btn-sm mb-2 mt-2" %>
      <% end %>
    <% end %>